<!DOCTYPE html>
<html>
  <head>
    <title>GoNimbly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      #robot-image {
        position: relative;
        margin: 0 auto;
        width: 400px;
        height: 200px;
        background: lightblue;
      }

      #submit-form {
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        background: lightgrey;
      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
