<!DOCTYPE html>
<html>
  <head>
    <title>GoNimbly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="animate.min.css">
    
    <style>

      #Heading {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #robot-form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 35px;
      }

      #robot-input {
        position: relative;
        right: 15px;
        width: 140px;
      }

      #robot-submit {
        position: relative;
        left: 15px;
        width: 140px;
      }

      #robot-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #robot-image-box {
        border: 2px solid black;
        width: 300px;
        height: 300px;
      }

      #robot-image {
        display: block;
      }

      #submit-form {
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        background: lightgrey;
      }

      #no-robot {
        width: 300px;
        height: 300px;
      }

      #no-robot-text {
        position: relative;
        top: 50%;
        text-align: center;
      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
